# Ignore everything by default
*

# But allow directories to be traversed
!*/

# Allow ONLY these files
!BigDebuffs/Spells/Mists.lua

!flyPlateBuffsFixed/flyPlateBuffsFixed.lua
!flyPlateBuffsFixed/spellList.lua
!flyPlateBuffsFixed/options.lua

!LoseControl/LoseControl.lua

!Diminish

!Diminish_Options
