# Ignore everything by default
*

# But allow directories to be traversed
!*/

# Allow ONLY these files
!BigDebuffs/Spells/Mists.lua

# Allow everything inside these folders
!Diminish/**
!Diminish_Options/**
!flyPlateBuffsFixed/**
!GladiusEx/**
!LoseControl/**
!BattleGroundEnemies/**
!ACP/**